<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Strider</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
</head>
<body>
  <div id="game"></div>
  <p class="sorry">Audio isn't working under Safari, yet! Sorry. :(</p>
  <!-- build:template
  <% if (environment === 'dist') { %>
  <script src="lib/gj-js-api-min.js"></script>
  <% } else if (environment !== 'crx') { %>
  <script src="lib/gj-js-api.js"></script>
  <% } %>
  /build -->
  <!-- build:js:dist,crx lib/crafty-min.js -->
  <script src="lib/crafty.js"></script>
  <!-- /build -->
  <!-- build:js:dist,crx game.min.js -->
  <script src="game.js"></script>
  <!-- /build -->
  <!-- build:include:dist urch -->
  <!-- /build -->
</body>
</html>
